h6.g{
    color: black;
}

footer{
    background-color: rgba(179, 179, 179, 0.356);
    margin: 0px;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
}

.cliente1{
    background-color: rgba(167, 167, 168, 0.281);
}

.cliente2{
    background-color: rgba(167, 167, 168, 0.281);

}

.cliente3{
    background-color: rgba(167, 167, 168, 0.281);
}

.cliente4{
    background-color: rgba(167, 167, 168, 0.281);
}

.contatos{
    background-color: rgba(167, 167, 168, 0.281);
}





